<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<title>Lista de Produtos</title>
</head>
	<body>
	<div class="container">
		<h1>Lista de Produtos</h1>
		<a href="/adicionarProduto"> <button class="btn btn-primary">Cadastrar</button> </a>
		<a href="/logout"> <button class="btn btn-danger">Sair</button> </a>
			 
	</div>
	<div class="container">
		<table class="table">
		  <thead>
		    <tr>
		     <!--  <th scope="col">ID</th> -->
		      <th scope="col">Produto</th>
		      <th scope="col">Fabricante</th>
		      <th scope="col">Valor</th>
		    </tr>
		  </thead>
		  <tbody >
		    <tr  th:each="produto : ${produtos}">
		     <!--  <td><span th:number="${produto.idProduto}"> </span></td> -->
		      <td><span th:text="${produto.nomeProduto}"> </span></td>
		      <td><span th:text="${produto.fornecedorProduto}"> </span></td>
		      <td><span th:text="${produto.valorProduto}"> </span></td> 
		      <td> <button class="btn btn-danger" ><a th:href="@{/deletarproduto/{idProduto}(idProduto=${produto.idProduto})}" style="text-decoration: none; color: white;">Deletar</a></button>  </td>
		      
              <td> <button class="btn btn-warning"> <a th:href="@{/deletarproduto/{idProduto}(idProduto=${produto.idProduto})}" style="text-decoration: none; color: white;">Editar</a> </button> </td>
		      
		    </tr>
		  </tbody>
		</table>
	</div>
	
	
	 
</body>
</html>